@tailwind base;
@tailwind components;
@tailwind utilities;

/* npx tailwindcss -i ./css/style.css -o ./css/output.css --watch */


#slideMenu {
    transition: left 0.3s ease-in-out;
  }
  *{
      box-sizing: border-box;
  }
  .nr{
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
    padding: 20px 20px;

  }